/* ============================================================
   NAVIGATION
   ============================================================ */

.navbar {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 0 22px;

  background: var(--dusty-pink);

  border-bottom: 1px solid var(--dusty-pink-dark);
}

.navbar a {
  position: relative;

  color: var(--white);

  font-size: 0.77rem;

  text-decoration: none;
  text-transform: uppercase;

  padding: 20px 2px 17px;
}

.navbar a:hover,
.navbar a.active {
  color: var(--gold-light);
}

.navbar a.active::after {
  content: "";

  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;

  height: 2px;

  background: var(--gold-light);
}
